* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Plus Jakarta Sans", sans-serif;
}
:root {
    --bg-color: #fff;
    --title-color: #050E25;
    --primary-color: #FD5442;
    --secondary-color: #F87A6B; 
    --third-color: #FFB7A7;
    --text-color: #A1A4B1;
    --point-color: #FEBF3C;
    --star-color: #FF7922;
    --other-color: #ffffffb3;

    --h1-font:4.7rem;
    --h2-font:3rem;
    --p-font:1.0rem;
}

/* common */
body {
    background-color: var(--bg-color);
    color: var(--title-color);
}
section {
    padding: 90px 15%;
}
.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: var(--p-font);
    color: var(--bg-color);
    background-color: var(--primary-color);
    border-radius: 30px;
    margin-right: 20px;
    transition: all .7s ease;
}
.btn:hover {
    background-color: red;
}
.btn2 {
    display: inline-block;
    padding: 14px 30px;
    font-size: var(--p-font);
    color: var(--bg-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    transition: all .7s ease;
}
.btn2:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}
.btn3 {
    display: inline-block;
    padding: 14px 30px;
    font-size: 15px;
    color: #333;
    background-color: var(--other-color);
    border-radius: 3px;
}
.row {
    transition: all .7s ease;
    display: contents;
}
.row-img {
    position: relative;
    transition: all .7s;
}
.row .row-img {
    width: 100%;
    height: auto;
    border-radius: 8%;
}

.row-img:hover {
    transform: scale(1.1) translateY(-5px);
    cursor: pointer;
}
.star {
    position: absolute;
    top: 4%;
    right: 8%;
    display: flex;
    align-items: center;
    padding: 8px 14px;
    background: var(--bg-color);
    font-size: var(--p-font);
    color: var(--title-color);
    border-radius: 8%;
}
.star2 {
    position: absolute;
    top: 4%;
    left: 4%;
    display: flex;
    align-items: center;
    padding: 8px 14px;
    background: var(--bg-color);
    font-size: var(--p-font);
    color: var(--title-color);
    border-radius: 8%;
}
.star i,
.star2 i {
    color:var(--star-color);
    font-size: 18px;
}

   
.star a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--title-color);
}
.star2 a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--title-color);
}
h2 {
    font-size: var(--h2-font);
    font-weight: 700;
    margin-bottom: 15px;
}
h6 {
    font-family: "Satisfy", cursive;
    font-size: 24px;
    color: var(--primary-color); 
}
.heart {
    position: absolute;
    bottom: 30%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0, .08);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}  
.heart i {
    font-size: 1.3rem;
}
.heart:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}
.heart:hover i{
    color: #fff;
}


/* header */
header {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    /* background: var(--title-color); */
    padding: 30px 15%;
    width: 100%;
    transition: all .7s ease;
}
header .logo img{
    width: 100%;
    height: auto;
}
header.sticky {
    background-color: var(--title-color);
    padding: 20px 15%;
    box-shadow: 0px 4px 15px rgba(0,0,0, .5);
}
.navlist a {
    display: inline-block;
    font-size: var(--p-font * 1.1);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 50px;
    transition: all .7s ease;
}
.navlist a:last-child {
    margin-right: 25px;
}
.navlist a:hover {
    color: var(--bg-color);
}
#menu-icon {
    font-size: 40px;
    z-index: 1001;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}

/* home */
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../img/main1.jpg);
    background-size: cover;
    background-position: center;
    animation: slide 25s infinite;
}
@keyframes slide {
    0%{background-image: url("../img/bg2.png");}
    20%{background-image: url("../img/bg3.png");}
    40%{background-image: url("../img/bg4.png");}
    60%{background-image: url("../img/bg5.png");}
    80%{background-image: url("../img/huzi.png");}
    100%{background-image: url("../img/bg2.png");}
}
.home .home-text h1{
    font-size: var(--h1-font);
    font-weight: 800;
    color: var(--bg-color);
    margin: 10px 0;
}
.home .home-text h3{
    font-family: "Satisfy", cursive;
    font-size: 25px;
    color: var(--bg-color);
}
.home .home-text p{
    font-size: var(--p-font);
    color: var(--other-color);
    line-height: 1.6;
    margin-bottom: 30px;
}
.home .home-contain{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.5rem;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    /* margin: 100px 0; */
}
.home .home-contain .h-row{
    text-align: center;
}
.home .home-contain .h-row h4{
    font-size: 15px;
    color: var(--other-color);
    font-weight: 400;
}

.home .home-contain .h-img {
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border-radius: 50%;
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
}
.home .home-contain .h-img img{
    width: 100%;
    display: block;
    transition: all .7s ease;
}
.home .home-contain .h-img img:hover{
    transform:scale(1.2)
}
.home .arrow{
    position: absolute;
    top: 35%;
    right:30%;
}
.home .arrow i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background: var(--bg-color);
    color: var(--title-color);
    border-radius: 50%;
    font-size: 35px;
    transition: all .7s ease;
}
.home .arrow i:hover{
    background:var(--primary-color);
    color: var(--bg-color);
    transform: scale(0.9);
}

/* destination */
.destination .dest-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.destination .dest-left h2{
    font-size: var(--h2-font);
    font-weight: 600;
    color: var(--title-color);
}
.destination .dest-left h6{
    font-family: "Satisfy", cursive;
    font-size: 24px;
    color: var(--primary-color);
}
.destination .dest-right{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.destination .dest-right i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: var(--title-color);
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    transition: all .7s ease;
}
.destination .dest-right i:hover{
    background: var(--primary-color);
}
.destination .destination-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 2rem;
    margin-top: 3rem;
}
.destination .destination-content .row-img{
    position: relative;
}
.destination .destination-content .row-img img{
    width: 100%;
    height: auto;
    border-radius: 8%;
    position: relative;
}

.destination .destination-content .star{
    position: absolute;
    top: 5%;
    right: 5%;
    background: var(--bg-color);
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

/* about */
.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));    
    align-items: center;
    gap: 3rem;
}
.about-left h2{
    font-size: var(--h2-font);
    font-weight: 700;
    margin-bottom: 15px;
}
.about-left h6{
    font-family: "Satisfy", cursive;
    font-size: 24px;
    color: var(--primary-color);
}
.about-left p {
    font-size: var(--p-font);
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 2rem;
}
.about-mid img{
    width: 100%;
    height: auto;
}
.about-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.about-right .about-box{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.about-right .des-img{
    background-color: var(--bg-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0px 8px 20px rgba(0,0,0, .08);
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-text h4 {
    font-size: 20px;
    margin-bottom: 0.5rem;
}
.a-text p {
    font-size: var(--p-font);
    color: var(--text-color);
    line-height: 1.6;
}
.title-center {
    text-align: center;
    margin-bottom: 3rem;

}

/* package */
.package-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,auto));
    align-items: center;
    gap: 3rem;
}
.package-content .box{
    position: relative;
    background-color: var(--bg-color);
    padding: 0 0 10px 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 8px 20px rgba(0,0,0, .08);
}
.package-content .box:hover {
    border: 3px solid var(--primary-color);
    border-radius: 14px;
}   

.package-content .box .box-img{
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.package-content .box .box-img img {
    display: block;
    width: 100%;
    cursor: pointer;
    transition: all .7s ease;
}
.package-content .box .box-img img:hover {
    /* transform: scale(1.2); */
}
.package-content .box .box-info{
    padding: 1.5rem 1.5rem;
}
.box-info h3{
    font-size: 1.1rem;
    color: var(--primary-color);
    margin-bottom: .3rem;
}
.box-info h5{
    font-size: 1.4rem;
    color:var(--title-color) ;
    margin-bottom: 1.5rem;
}
.box-info .info-zone{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.info-zone .location{
    font-size: 1rem;
    color: var(--text-color);
}
.info-zone .location i {
    color: var(--primary-color);
    margin-right: .5rem;
}
.info-zone .time{
    font-size: 1rem;
    color: var(--text-color);
}
.info-zone .time i{
    color: var(--primary-color);
    margin-right: .5rem;
}

/* testimonial */
.testimonial{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}
.testimonial .test-left p{
    color: var(--text-color);
    font-size: var(--p-font);
    line-height: 1.6;
    margin-bottom: 1.5rem;
}
.testimonial .test-right{
    position: relative;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 2.5rem 2.5rem;
    box-shadow: 0px 10px 20px rgba(0,0,0, .15);
}
.testimonial .test-right .t-test p{
    font-size: var(--p-font);
    color: var(--bg-color);
    line-height: 1.6;
    letter-spacing: 1.3;
    margin-bottom: 1rem;
}
.testimonial .test-right .t-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.testimonial .test-right .t-inner .t-title h3{
    line-height: 1.5;
    color: var(--title-color);
    font-size: var(--p-font);
    background-color: var(--bg-color);
    padding: .5rem 2rem .5rem;
    border-radius: 1rem 1rem 1rem 0;
}
.t-title span{
    font-size: .8rem;
    position: relative;
    top: 1px;
    display: inline-block;
    background: var(--bg-color);
    padding: .5rem 2rem .5rem;
    border-radius: 0 0 .8rem .8rem;
}
.t-star i {
    color: var(--point-color);
    display: inline-block;
    font-size: 1.5rem;
    margin-left: .8rem;
}
.testimonial .test-right .t-user{
    position: absolute;
    top: -10%;
    left: -8%;
}
.t-user img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: contain;
}

/* contact */
.contact{
    background: var(--title-color);
}
.contact .q-links h3{
    font-size: 2rem;
    color: #fff;
}
.contact .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    gap: 2rem;
    margin-top: 1rem;
}
.contact .footer .footer-links{
    display: flex;
    flex-direction: column;
}
.contact .footer .footer-links a{
    font-size: .8rem;
    color: var(--text-color);
    margin-bottom: .9rem;
    transition: all .7s ease;
}
.contact .footer .footer-links a:hover{
    transform: translateY(-5px);
    color: var(--bg-color);
}
.contact .footer .footer-links i{
    font-size: 1rem;
    margin-right: 0.3rem;
}
.footer-gallery {
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.footer-gallery .g-img{
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 2rem;
    cursor: pointer;
    object-fit: contain;
}
.footer-gallery .g-img img{
    width: 100%;
    height: 100%;
    display: block;
    transition: all .7s ease;
}
.footer-gallery .g-img img:hover{
    transform: scale(1.2);
}
.copy{
    text-align: center;
    color: #333;
    margin-top: 3rem;
    font-size: .8rem;
}

/* scroll top */
.top{
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}
.top i{
    font-size: 80px;
    color: var(--primary-color)
}

/* media qurey */
@media(max-width:1900px) {
    header {
        padding: 20px 4%;
    }
    header.sticky {
        padding: 14px 4%; 
    }
    section {
        padding: 80px 4% 70px;
    }
}
@media(max-width:1300px) {
    :root{
    --h1-font:4rem;
    --h2-font:2.8rem;
    --p-font:1.0rem;
    }
}
@media(max-width:1100px) {
    header {
        padding: 20px 2%;
    }
    header.sticky {
        padding:  14px 2%;
    }
    section {
        padding: 80px 2% 70px;
    }
    .home .home-contain{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem
    }
}

@media(max-width:930px) {
    #menu-icon{
        display: block;
    }
    #menu-icon:hover{

    }
    .navlist{
        display: none;
    }
    .navlist{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 80px 50px;
        top: 0;
        right: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: var(--title-color);
        transition: all .7s ease-in-out;
    }
    .navlist a{
        color: var(--bg-color);
        display: block;
        padding: 0;
        margin: 0 0 30px 0;
        font-size: 2rem;
    }
    .navlist.open{
        left: 0;
    }
}
@media(max-width:800px) {
    .home {
        height: 107vh;
    }
    .arrow{
        display: none;
    }
    .home .home-contain .h-img{
        width: 80px;
        height: 80px;
    }
    .home .home-contain .h-img img{
        width: 80px;
        height: 80px;
        max-width: 100%;
        object-fit: contain;
        border-radius: 50%;
    }
    .home .home-contain {
        gap: 2rem;
    }
    .about{
        grid-template-columns: repeat(auto-fit,minmax(400px,about));
    }
}
@media(max-width:700px) {
 
    .testimonial{
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .testimonial .test-right .t-user{
        position: absolute;
        top: -20%;
        left: 0%;
    }
    .footer-gallery {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        margin: 0 auto;
    }
    .footer-gallery .g-img {
       width: 200px;
       height: 200px;
    }
}
@media(max-width:600px) {
    :root{
        --h1-font:3.2rem;
        --h2-font:2.0rem;
        --p-font:0.9rem; 
    } 
}

@media(max-width:440px) {
    .home {
        height: 114vh;
    }
    .home .home-text h3{
        font-size: 20px;
    }
    .home-contain .box {
        position: absolute;
        bottom: 10%;
    }
    :root{
        --h1-font:3.2rem;
        --h2-font:2.0rem;
        --p-font:0.9rem; 
    }
    .destination .dest-right i{
        width: 40px;
        height: 40px;
    }
    .con-content {
        padding-top: 40px;
    }
    .footer-gallery .g-img {
        width: 100px;
        height: 100px;
    }
}